.search-results-item{
    display: flex;
    flex-direction: column;
    margin: 0 0 1.5rem 0;
}

.search-results-title{
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

.search-results-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.search-results-image{
    display: block;
    margin: 0 0.5rem 0 0;
}